--{ feito por: Emanuel Franklyn. }--
--{      data: 03/11/2018        }--
--{ idioma: portugues brasileiro }--

--Limpa a tela--
function limpar()
term.clear()
term.setCursorPos(1,1)
term.setBackgroundColor(colors.black)
end

--detecta o lado em que esta o modem--
function gmodem()
if peripheral.getType("left") == "modem" then
return "left"
end
if peripheral.getType("right") == "modem" then
return "right"
end
if peripheral.getType("top") == "modem" then
return "top"
end
if peripheral.getType("bottom") == "modem" then
return "bottom"
end
if peripheral.getType("back") == "modem" then
return "back"
end
if peripheral.getType("front") == "modem" then
return "front"
else
return "not"
end
end

--desliga o modem--
function desconect()
if gmodem() == "left" then 
rednet.close("left")
end
if gmodem() == "right" then 
rednet.close("right")
end
if gmodem() == "top" then 
rednet.close("top")
end
if gmodem() == "bottom" then 
rednet.close("bottom")
end
if gmodem() == "back" then 
rednet.close("back")
end
if gmodem() == "front" then 
rednet.close("front")
end
end

--detecta se e uma turtle--
function dt()
if shell.run("refuel") == true then
return true
else
return false
end
end

--gera luzes indicadoras--
function interncone1()
paintutils.drawBox(1,1,1,1,colors.yellow)
paintutils.drawBox(20,1,20,1,colors.yellow)
end

--Comando para iniciar--
function conectar()
if gmodem() == "left" then 
rednet.open("left")
if dt() then
limpar()
generateinfot()
end
elseif gmodem() == "right" then
rednet.open("right")
if dt() then
limpar()
generateinfot()
end
elseif gmodem() == "top" then
rednet.open("top")
if dt() then
limpar()
generateinfot()
end
elseif gmodem() == "bottom" then
rednet.open("bottom")
if dt() then
limpar()
generateinfot()
end
elseif gmodem() == "back" then
rednet.open("back")
if dt() then
limpar()
generateinfot()
end
elseif gmodem() == "front" then
rednet.open("front")
if dt() then
limpar()
generateinfot()
end
if dp() then
limpar()
generateinfop()
end
else
term.setBackgroundColor(colors.black)
term.setTextColor(colors.white)
term.clear()
term.setCursorPos(1,1)
term.setTextColor(colors.yellow)
term.write("CraftOS 1.7")
term.setTextColor(colors.white)
term.setCursorPos(1,2)
term.write("Nenhum modem foi detectado!")
term.setCursorPos(1,3)
end
end

--Gera interface para a turtle--
function generateinfot()
interncone1()
term.setBackgroundColor(colors.black)
term.setCursorPos(2,1)
fuel = turtle.getFuelLevel()
if fuel <= 20 then
paintutils.drawBox(1,1,1,1,colors.red)
term.setBackgroundColor(colors.black)
term.setCursorPos(2,1)
term.write("Em falta: "..fuel)
elseif fuel >= 20 and fuel <= 40 then
paintutils.drawBox(1,1,1,1,colors.yellow)
term.setBackgroundColor(colors.black)
term.setCursorPos(2,1)
term.write("Na reserva: "..fuel)
else
paintutils.drawBox(1,1,1,1,colors.green)
term.setBackgroundColor(colors.black)
term.setCursorPos(2,1)
term.write("Bom: "..fuel)
end
if gmodem() == "not" then
paintutils.drawBox(20,1,20,1,colors.red)
term.setBackgroundColor(colors.black)
term.setCursorPos(21,1)
term.write("Sem modem")
end
if gmodem ~= "not" then
	if rednet.isOpen() == true then
	paintutils.drawBox(20,1,20,1,colors.yellow)
	term.setBackgroundColor(colors.black)
	term.setCursorPos(21,1)
	term.write("Buscando")
	sleep(5)
	conectar()
	generateinfo()
	end
	if rednet.isOpen() == false then
	paintutils.drawBox(20,1,20,1,colors.yellow)
	term.setBackgroundColor(colors.black)
	term.setCursorPos(21,1)
	term.write("Modem off")
	conectar()
	generateinfo()
	end
end
end

--gera interface para o computador--
function generateinfoc()


end

--gera interface para o pocket computer--
function generateinfop()

end

conectar()
